langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
groq
langchain-groq
langchain_google_genai
langchain
streamlit
PyPDF2
pypdf
google-cloud-aiplatform>=1.38